*{
    background-color: rgb(255, 255, 255)
}
img{
   display: block;
   margin: auto;
   margin-bottom: 100px;
   
}
main{
text-align:center;
height: 70px;
margin: auto;
margin-bottom: 100px;
text-shadow: 1px 1px 1px;

}
button{
    width: 200px;
    height: 50px;
    background-color: rgb(22, 122, 51);
    color: rgb(255, 255, 255);
    margin: 1%;
    text-shadow: 1px 1px 1px;
    

}
   
h1{
    font-size: 50px;
    color: rgb(14, 104, 104);
    text-align: left;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px;
    text-align: center;
    padding: 5px rgb(255, 255, 255);;
    border: 5px solid black
    
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
}
a{
    color: rgb(14, 104, 104);
    text-shadow: 1px 1px 1px;
}
html{ 
    background-color: rgb(1, 206, 141);
}
body{
    width: 700px;
    margin: 0 auto;
    
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}
b{
    font-size: 20px;
}